.lfq-button {
  display: inline-block;
  button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
  }
  .round{
    border-radius: 10px;
  }
  .circle{
    border-radius: 50% !important;
  }
  .disabled{
    cursor: not-allowed;
    opacity: 0.5;
  }
}